<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 | 투어 리스트 인 투어</title>
    <link href='common.css' rel='stylesheet' type="text/css">
</head>
<body>
    <ul class="skipnavi">
        <li><a href="#container">본문내용</a></li>
    </ul>
    <!-- wrap -->
    <div id="wrap">
        <!-- container -->
        <div id="container">
            <div class="bodytext_area box_inner">
                <div class="login_wrap">
                    <h1 class="loginTit"><a href="#"><img src="tit_login.png" alt="TOURIST IN TOUR"></a></h1>
                    <ul class="login_list">
                        <li class="kakao"><a href="#"><strong>카카오톡</strong> 로그인</a></li>
                        <li class="naver"><a href="#"><strong>네이버</strong> 로그인</a></li>
                        <li class="facebook"><a href="#"><strong>페이스북</strong> 로그인</a></li>
                        <li class="email"><a href="#"><strong>이메일</strong> 로그인</a></li>
                    </ul>
                    <div class="btnonoff_line">
                        <div class="switch"></div>
                        <p>
                            <a href="#" class="btn_onoff">로그인 유지</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- container 끝-->
        <!-- 푸터 -->
        <footer>
            <div class="foot_area box_inner">
                <ul class="foot_list clear">
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보취급방침</a></li>
                </ul>
                <h2>투어리스트인투어</h2>
                <p class="addr">서울특별시 종로구 혜화동 9길 청운빌딩 5층 <span class="gubun">/</span> <span class="br_line">대표전화 <span class="space0">02-1234-5678</span> <span class="gubun">/</span> <span class="br_line">E-mail : <span class="space0">titour@touristintour.com</span></span></span></p>
                <p class="copy box_inner">Copyright(c) TouristInTour all right reserved</p>
                <ul class="snslink">
                    <li><a href="#">blog</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">instagram</a></li>
                </ul>
            </div>
        </footer>
        <!-- 푸터 끝-->
    </div>
    <!-- wrap 끝-->
    <!-- quick list -->
    <div class="quick_area">
        <ul class="quick_list">
            <li><a href="tel:02-1111-1111"><h3>전화 문의</h3><p>02-1111-1111</p></a></li>
            <li><a href="#"><h3>카카오톡 <em>상담</em></h3><p>1:1상담</p></a></li>
            <li><a href="#"><h3 class="to_content">오시는 길</h3></a></li>
        </ul>
        <p class="to_top"><a href="#">TOP</a></p>
    </div>
<!-- quick list 끝 -->
</body>
</html>